@import url('https://bloomstack.github.io/styleguide/styleguide.css');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

a:hover {
  text-decoration: underline;
}

p{
  line-height: 200%;
}
th {
  padding-top: 5%;
}

td {
  padding-left: 40%;
  padding-top: 5%;
  width: 90%;
}
h2{
  margin-block-start: 0;
  margin-block-end: 0;
}

.drop{
  list-style: none;
  padding-inline-start: 0;
  margin: 0; 
  max-height: 0; 
  background: #fff; 
  border-radius: 0 0 3px 3px; 
  border-left: 2px dotted #ccc;
}
.drop li {
  margin: 0;
  padding: 0;
  border: 0;
  height: auto; 
  border-top: 1px dotted #ccc;
  cursor: pointer;
}
